.MyColGridWrapper {
    display: flex;
    align-items: center;
    background-color:rgb(255, 255, 255, 0.5);
    border-radius: 25px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    overflow: hidden;
    min-height: 100%;
}

.MyColLeftArrow {
    width: 10%;
}

.MyColMidDisplay {
    width: 80%;
}

.MyColRightArrow {
    width: 10%;
}

.mycollectionpic {
    width:  150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid black;
}


