.QueueWrapper {
    width: 100%;
    display: flex;
    padding-bottom: 2vh;
}

.QueueDisplayLeftArrow {
    width: 10%;
}

.QueueDisplayRightArrow {
    width: 10%;
}

.SongQueueWrapper {
    width: 100%;
    display: flex;
    background-color: rgb(106, 90, 205,0.5);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.songqueuepic {
    width:  50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid black;
}

.SongQueueNameArtist {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
    width: 60%;
}