.JamPageWrapper {
    height: 100%;
    width: 100%;
}

.JamPageHeader {
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 4vw;
    padding-top: 2vh;
}

.JamDisplayWrapper {
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
}