.songImage{
    max-width: 180px;
    max-height: 180px;
    border-radius: 5px;
}
.songTitle{
    position: relative;
    bottom: 2vh;
}
.songArtist{
    position: relative;
    bottom: 4vh;
}
.carousel{
    max-width: 80vw;
    width: 80vw;
    height: 35vh;
    max-height: 35vh;
}