.Header{
    height: 12vh;
    width:100vw;
}

.Button{
    margin-top: 3vh !important;
    color: black !important;
    border-color: black !important;
    width: 16vw !important;
    height: 2vw !important;       
}

.Avatar{
    width: 60px !important;
    height: 60px !important;
}

.Clickable{
    cursor: pointer;
}