.RegisterFormWrapper {
    padding-top: 5vh;
    display: flex;
}

.RegisterForm {
    margin-left: auto;
    margin-bottom: auto;
    margin-right: 10vh;
}

.RegisterFormHelper {
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 10vh;
}

.RegisterInput {
    margin-bottom: 2vh !important;
}

.RegisterButton {
    color: white !important;
    background-color:  rgb(108, 87, 245) !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.musicbeatLogoBig {
    max-width: 30vw;
    max-height: 30vh;
    margin-top: 10vh;
}
