.AlbumPageWrapper {
    height: 100%;
    width: 100%;
}

.AlbumPageUpper {
    width: 100%;
    height: 100%;
    background-color:  rgba(215, 223, 217, 0.377);
    padding-top: 2vh;
}

.AlbumPageUpperMain {
    display: flex;
    height: 100%;
    width: 100%;
}

.albumimage {
    margin-left: 2vw !important;
    max-width: 25vw !important;
    max-height: 25vh !important;
    border-radius: 20px;
    border: 1px solid black;
}

.AlbumInfo {
    margin-left: 2vw;
    text-align: left;
    padding: auto;
    height: 100%;
    width: 70%;
}

.AlbumRatesWrapper {
    margin-left: auto;
    margin-right: 2vw;
    text-align: right;
    width: 20%;
    height: 100%;
}

.AlbumPageUpperTabs {
    width: 100%;
    padding-top: 2vh;
    padding-left: 2vw;
}

.AlbumPageLower {
    display: flex;
}

.AlbumPageLowerLeft {
    height: 100%;
    width: 60%;
    border-right: 1px solid black;
}

.AlbumPageLowerRight {
    height: 100%;
    width: 40%;
    padding-top: 2vh;
}