.SongPageWrapper {
    height: 100%;
    width: 100%;
}

.SongPageUpper {
    width: 100%;
    height: 100%;
    background-color:  rgba(215, 223, 217, 0.377);
    padding-top: 2vh;
}

.SongPageUpperMain {
    display: flex;
    height: 100%;
    width: 100%;
}

.songimage {
    margin-left: 2vw !important;
    max-width: 25vw !important;
    max-height: 25vh !important;
    border-radius: 20px;
    border: 1px solid black;
}

.SongInfo {
    margin-left: 2vw;
    text-align: left;
    padding: auto;
    height: 100%;
    width: 70%;
}

.SongRates {
    margin-left: auto;
    margin-right: 2vw;
    text-align: right;
    width: 20%;
}

.SongPageUpperTabs {
    width: 100%;
    padding-top: 2vh;
    padding-left: 2vw;
}

.SongPageLowerLeft {
    height: 100%;
    width: 70%;
}

.SongPageLowerRight {
    height: 100%;
    width: 30%;
}