.SongTabDisplayWrapper {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 3vh;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.LyricsAndInfoDisplay {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: left;
    min-height: 100%;
}

.CriticsDisplay {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: left;
    height: 100%;
}

.ReviewWrapper{
    height: 100%;
    width: 100%;
    background-color:  rgba(215, 223, 217, 0.377);
    border-radius: 25px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
}

.ReviewHeader {
    display: flex;
}

.ReviewAuthorTitle {
    text-align: left;

}

.ReviewContentWrapper {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}