.collectionpic {
    width:  150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}


.GridWrapper {
    border-radius: 25px;
    background-color:  rgba(215, 223, 217, 0.377);
    padding-top: 3vh;
    padding-bottom: 3vh;
    overflow: hidden;
    min-height: 100%;
}